// 백그라운드 배경
.one{
  background-image: url('../assets/images/home_back1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.two{
  background-image: url('../assets/images/home_back2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  position: relative;


}
.backgroundColor {
  background-color: #000000;
  opacity: 0.5;
  position: absolute; /*다른 요소들 위로 겹쳐질 수 있게함*/
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;

}
.three{
  background-image: url('../assets/images/home_back3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.four{
  background-image: url('../assets/images/home_back4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.five{
  background-image: url('../assets/images/home_back5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

// 첫번째 백그라운드
.backgroundDiv{
  width: 100vw;
  height: 100vh;
  padding: 20px;
  margin: 0;
  top: 0;
  left: 0;
  background-size: cover;
  background-attachment: fixed;
  border: 0;
  display: table-cell;
  vertical-align: middle;
  font-size: 100%;
  text-align: inherit;
    .captionContainer {
      max-width: 1480px;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      vertical-align: middle;
      .captionTitle {
        max-width: 800px;
        width: 100%;
        display: table;
        color: #222222;
        font-weight: 700;
        font-size: 50px;
        text-align: inherit;
        letter-spacing: -0.02em;
        line-height: 1.15em;
      }
      .captionBody {
        margin-top: 20px;
        vertical-align: middle;
        color: #222222;
        font-weight: 700;
        font-size: 20px;
        text-align: inherit;
        letter-spacing: 0.01em;
        line-height: 2em;
      }
      .button.is-medium {
        z-index: 9;
        width: auto;
        height: auto;
        padding: 1em 1.75em;
        margin-top: 25px;
        position: relative;
        background-color: #00BFBA;
        border: 2px solid #00BFBA;
        color: #FFFFFF;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 0.02em;
        line-height: normal;
        outline: none;
        &:hover{
          background-color:#53C6C2;
          color: #FFFFFF;
          font-weight:bold;
          border-color: #53C6C2;
        }
      }
    }
}

// 주요 이용 게임
.contentBox{
  z-index: 1;
  width: 100%;
  min-height: 100%;
  margin-bottom: 0;
  top: 0;
  left: 0;
  padding: 16px;
  position: relative;
  background-color: #41BFB9;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  color: #FFFFFF;
  letter-spacing: 0.02em;
  line-height: 1.5em;
}
.majorGameImg {
  padding: 15px;
  text-align: center;
}
.majorGameSubContainer {
  width: 100%;
  padding: 50px 20px 60px 20px;
  margin: 0 auto;
  background-color: #333333;
  text-align: center;
  display: flex;
  justify-content: center;
  .majorGameSubTitle {
    color: rgb(0, 191, 186);
    font-weight: bold;
    font-size: 20px;
  }
  .divisionLine {
    width: 25%;
    background-color: #00BFBA;
    min-height: 1px;
    display: inline-block;
  }
  .majorGameSubBody {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 2em;
    max-width: 410px;
    padding: 30px 40px 20px 40px;
  }
  img {
    width: 25%;
    margin-bottom: 30px;
  }
}

// 두번째 백그라운드
.aboutContainer {
  z-index: 10000;
  position: relative;
  max-width: 1480px;
  width: 100%;
  height: 100%;
  margin: 220px auto;
  vertical-align: middle;
  .aboutTitle {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 28px;
    text-align: inherit;
    letter-spacing: 0.02em;
    line-height: 1.5em;
    padding: 16px 0;
  }
  .eveImgBox {
    width: 28%;
    padding: 16px 0;
    img {
      width: 100%;
      padding: 16px 0;
    }
  }
  .aboutHeader {
    padding: 16px 0;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 30px;
    text-align: inherit;
    letter-spacing: 0.02em;
    line-height: 1.5em;
  }
  .aboutBody {
    padding: 16px 0;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    text-align: inherit;
    letter-spacing: 0.02em;
    line-height: 2em;
  }
}

// 서비스
.serviceContainer {
  width: 100%;
  padding: 70px 0;
  margin: 0 auto;
  background-color: #333333;
  text-align: center;
  display: flex;
  justify-content: center;
  .serviceTitle {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0.02em;
    line-height: 1.5em;
  }
  .divisionLine {
    width: 100%;
    background-color: #00BFBA;
    min-height: 1px;
    display: inline-block;
  }
  .serviceSub {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 2em;
    padding: 30px 40px 20px 40px;
  }
}



// 임시 푸터
footer{
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}
.copyright {
  padding: 15px;
  display: block;
  text-align: center;
}

